In [2]:
import dask.dataframe as dd # import pandas as pd
import dask.array as da # import numpy as np
import matplotlib.pyplot as plt

c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\_pyarrow_compat.py:23: UserWarning: You are using pyarrow version 11.0.0 which is known to be insecure. See https://www.cve.org/CVERecord?id=CVE-2023-47248 for further details. Please upgrade to pyarrow>=14.0.1 or install pyarrow-hotfix to patch your current version.
  warnings.warn(

In [3]:
acidentes = dd.read_csv('Acidentes_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';', assume_missing=True) # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]
localidade = dd.read_csv('Localidade_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';', assume_missing=True) # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]
veiculo = dd.read_csv('TipoVeiculo_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';', assume_missing=True) # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]
vitimas = dd.read_csv('Vitimas_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';', assume_missing=True) # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]

In [4]:
#merge dos dfs 
result = dd.merge(acidentes, localidade, on='chv_localidade', how='inner')
# result = dd.merge(result, veiculo, on='chv_localidade', how='inner')
# result = dd.merge(result, vitimas, on='chv_localidade', how='inner')
df_final = result.compute()

c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\bruna\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

In [5]:
df_final.head(10)

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge_x,dia_semana,fase_dia,...,mes_referencia,mes_ano_referencia,regiao,uf,codigo_ibge_y,municipio,regiao_metropolitana,qtde_habitantes,frota_total,frota_circulante
0,352227.0,AC1200500201801,2018-01-16,AC,2018.0,1.0,12018.0,1200500.0,TERCA-FEIRA,MANHA,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
1,28057.0,AC1200500201801,2018-01-06,AC,2018.0,1.0,12018.0,1200500.0,SABADO,NOITE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
2,1178931.0,AC1200500201801,2018-01-24,AC,2018.0,1.0,12018.0,1200500.0,QUARTA-FEIRA,MADRUGADA,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
3,352225.0,AC1200500201801,2018-01-14,AC,2018.0,1.0,12018.0,1200500.0,DOMINGO,MANHA,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
4,3515769.0,AC1200500201801,2018-01-04,AC,2018.0,1.0,12018.0,1200500.0,QUINTA-FEIRA,TARDE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
5,2860402.0,AC1200500201801,2018-01-06,AC,2018.0,1.0,12018.0,1200500.0,SABADO,MANHA,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
6,2091362.0,AC1200500201801,2018-01-20,AC,2018.0,1.0,12018.0,1200500.0,SABADO,NOITE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
7,4524241.0,AC1200500201801,2018-01-08,AC,2018.0,1.0,12018.0,1200500.0,SEGUNDA-FEIRA,NOITE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
8,667583.0,AC1200500201801,2018-01-13,AC,2018.0,1.0,12018.0,1200500.0,SABADO,NOITE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
9,3254053.0,AC1200500201801,2018-01-14,AC,2018.0,1.0,12018.0,1200500.0,DOMINGO,NOITE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0

In [6]:
# Verificando a quantidade de valores faltantes por coluna
df_final.isnull().sum()

num_acidente                  0
chv_localidade                0
data_acidente                 0
uf_acidente                   0
ano_acidente                  0
mes_acidente                  0
mes_ano_acidente              0
codigo_ibge_x                 0
dia_semana                    0
fase_dia                      1
tp_acidente                   1
cond_meteorologica            1
end_acidente             156361
num_end_acidente              1
cep_acidente                  1
bairro_acidente         1886074
km_via_acidente               1
latitude_acidente       2999876
longitude_acidente      3000006
hora_acidente                 1
tp_rodovia                    1
cond_pista                    1
tp_cruzamento                 1
tp_pavimento                  1
tp_curva                      1
lim_velocidade                1
tp_pista                      1
ind_guardrail                 1
ind_cantcentral               1
ind_acostamento               1
qtde_acidente                 1
qtde_acid_com_obitos          1
qtde_envolvidos               1
qtde_feridosilesos            1
qtde_obitos                   1
ano_referencia                0
mes_referencia                0
mes_ano_referencia            0
regiao                        0
uf                            0
codigo_ibge_y                 0
municipio                     0
regiao_metropolitana          0
qtde_habitantes               0
frota_total                   0
frota_circulante              0
dtype: int64

In [7]:
# Filtrando apenas colunas numéricas
numeric_cols = df_final.select_dtypes(include=['float64', 'int64'])
# Calculando correlação
corr_matrix = numeric_cols.corr() 
corr_matrix

,num_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge_x,num_end_acidente,cep_acidente,km_via_acidente,latitude_acidente,longitude_acidente,...,qtde_envolvidos,qtde_feridosilesos,qtde_obitos,ano_referencia,mes_referencia,mes_ano_referencia,codigo_ibge_y,qtde_habitantes,frota_total,frota_circulante
num_acidente,1.000000,0.001178,0.000794,0.000794,-0.000385,-0.000769,0.000344,-0.000146,0.001533,0.000978,...,-0.000154,-0.000171,0.000094,0.001178,0.000794,0.000794,-0.000385,-0.001769,-0.001477,-0.001380
ano_acidente,0.001178,1.000000,-0.104012,-0.103969,0.104980,0.101688,0.090372,0.022307,0.049797,0.036462,...,0.061870,0.066813,-0.027651,1.000000,-0.104012,-0.103969,0.104980,-0.004869,0.060230,0.106223
mes_acidente,0.000794,-0.104012,1.000000,1.000000,0.014887,-0.009977,0.003629,-0.013901,-0.009785,-0.007451,...,0.001485,0.001116,0.001897,-0.104012,1.000000,1.000000,0.014887,-0.040560,-0.037455,-0.027713
mes_ano_acidente,0.000794,-0.103969,1.000000,1.000000,0.014892,-0.009972,0.003633,-0.013900,-0.009784,-0.007450,...,0.001487,0.001119,0.001896,-0.103969,1.000000,1.000000,0.014892,-0.040561,-0.037452,-0.027708
codigo_ibge_x,-0.000385,0.104980,0.014887,0.014892,1.000000,0.207676,-0.029932,-0.031944,0.113679,0.083244,...,0.026561,0.038624,-0.064086,0.104980,0.014887,0.014892,1.000000,0.051050,0.119291,0.132516
num_end_acidente,-0.000769,0.101688,-0.009977,-0.009972,0.207676,1.000000,-0.010967,-0.011505,0.014499,0.010618,...,0.021697,0.025487,-0.020497,0.101688,-0.009977,-0.009972,0.207676,0.233728,0.240318,0.287311
cep_acidente,0.000344,0.090372,0.003629,0.003633,-0.029932,-0.010967,1.000000,-0.002571,0.014918,0.010925,...,0.005288,0.006010,-0.003933,0.090372,0.003629,0.003633,-0.029932,0.043893,0.016132,0.026827
km_via_acidente,-0.000146,0.022307,-0.013901,-0.013900,-0.031944,-0.011505,-0.002571,1.000000,0.006131,0.004490,...,0.009353,0.007109,0.011531,0.022307,-0.013901,-0.013900,-0.031944,0.007641,0.011502,0.014491
latitude_acidente,0.001533,0.049797,-0.009785,-0.009784,0.113679,0.014499,0.014918,0.006131,1.000000,0.741946,...,-0.012748,-0.010240,-0.013253,0.049797,-0.009785,-0.009784,0.113679,0.034839,0.038464,0.038136
longitude_acidente,0.000978,0.036462,-0.007451,-0.007450,0.083244,0.010618,0.010925,0.004490,0.741946,1.000000,...,-0.008299,-0.006623,-0.008862,0.036462,-0.007451,-0.007450,0.083244,0.022103,0.025274,0.025012
hora_acidente,-0.000382,-0.016310,0.004709,0.004708,-0.065277,-0.014783,-0.020512,-0.005949,-0.076480,-0.046274,...,0.004105,-0.004279,0.043926,-0.016310,0.004709,0.004708,-0.065277,-0.044743,-0.041599,-0.043001
qtde_acidente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qtde_acid_com_obitos,-0.000170,-0.029244,0.001048,0.001047,-0.071303,-0.021737,-0.003781,0.010945,-0.007530,-0.005107,...,0.036078,-0.142685,0.937974,-0.029244,0.001048,0.001047,-0.071303,-0.025103,-0.036959,-0.046231
qtde_envolvidos,-0.000154,0.061870,0.001485,0.001487,0.026561,0.021697,0.005288,0.009353,-0.012748,-0.008299,...,1.000000,0.981796,0.068361,0.061870,0.001485,0.001487,0.026561,-0.003553,0.021096,0.026429
qtde_feridosilesos,-0.000171,0.066813,0.001116,0.001119,0.038624,0.025487,0.006010,0.007109,-0.010240,-0.006623,...,0.981796,1.000000,-0.122378,0.066813,0.001116,0.001119,0.038624,0.001588,0.028107,0.035021
qtde_obitos,0.000094,-0.027651,0.001897,0.001896,-0.064086,-0.020497,-0.003933,0.011531,-0.013253,-0.008862,...,0.068361,-0.122378,1.000000,-0.027651,0.001897,0.001896,-0.064086,-0.026908,-0.037400,-0.045849
ano_referencia,0.001178,1.000000,-0.104012,-0.103969,0.104980,0.101688,0.090372,0.022307,0.049797,0.036462,...,0.061870,0.066813,-0.027651,1.000000,-0.104012,-0.103969,0.104980,-0.004869,0.060230,0.106223
mes_referencia,0.000794,-0.104012,1.000000,1.000000,0.014887,-0.009977,0.003629,-0.013901,-0.009785,-0.007451,...,0.001485,0.001116,0.001897,-0.104012,1.000000,1.000000,0.014887,-0.040560,-0.037455,-0.027713
mes_ano_referencia,0.000794,-0.103969,1.000000,1.000000,0.014892,-0.009972,0.003633,-0.013900,-0.009784,-0.007450,...,0.001487,0.001119,0.001896,-0.103969,1.000000,1.000000,0.014892,-0.040561,-0.037452,-0.027708
codigo_ibge_y,-0.000385,0.104980,0.014887,0.014892,1.000000,0.207676,-0.029932,-0.031944,0.113679,0.083244,...,0.026561,0.038624,-0.064086,0.104980,0.014887,0.014892,1.000000,0.051050,0.119291,0.132516
qtde_habitantes,-0.001769,-0.004869,-0.040560,-0.040561,0.051050,0.233728,0.043893,0.007641,0.034839,0.022103,...,-0.003553,0.001588,-0.026908,-0.004869,-0.040560,-0.040561,0.051050,1.000000,0.959391,0.931915
frota_total,-0.001477,0.060230,-0.037455,-0.037452,0.119291,0.240318,0.016132,0.011502,0.038464,0.025274,...,0.021096,0.028107,-0.037400,0.060230,-0.037455,-0.037452,0.119291,0.959391,1.000000,0.981640
frota_circulante,-0.001380,0.106223,-0.027713,-0.027708,0.132516,0.287311,0.026827,0.014491,0.038136,0.025012,...,0.026429,0.035021,-0.045849,0.106223,-0.027713,-0.027708,0.132516,0.931915,0.981640,1.000000

In [8]:
# Filtrando apenas as colunas com valor nulo
null_counts = df_final.isnull().sum()
print(null_counts[null_counts > 0])

fase_dia                      1
tp_acidente                   1
cond_meteorologica            1
end_acidente             156361
num_end_acidente              1
cep_acidente                  1
bairro_acidente         1886074
km_via_acidente               1
latitude_acidente       2999876
longitude_acidente      3000006
hora_acidente                 1
tp_rodovia                    1
cond_pista                    1
tp_cruzamento                 1
tp_pavimento                  1
tp_curva                      1
lim_velocidade                1
tp_pista                      1
ind_guardrail                 1
ind_cantcentral               1
ind_acostamento               1
qtde_acidente                 1
qtde_acid_com_obitos          1
qtde_envolvidos               1
qtde_feridosilesos            1
qtde_obitos                   1
dtype: int64

In [9]:
df_final.head()

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge_x,dia_semana,fase_dia,...,mes_referencia,mes_ano_referencia,regiao,uf,codigo_ibge_y,municipio,regiao_metropolitana,qtde_habitantes,frota_total,frota_circulante
0,352227.0,AC1200500201801,2018-01-16,AC,2018.0,1.0,12018.0,1200500.0,TERCA-FEIRA,MANHA,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
1,28057.0,AC1200500201801,2018-01-06,AC,2018.0,1.0,12018.0,1200500.0,SABADO,NOITE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
2,1178931.0,AC1200500201801,2018-01-24,AC,2018.0,1.0,12018.0,1200500.0,QUARTA-FEIRA,MADRUGADA,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
3,352225.0,AC1200500201801,2018-01-14,AC,2018.0,1.0,12018.0,1200500.0,DOMINGO,MANHA,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0
4,3515769.0,AC1200500201801,2018-01-04,AC,2018.0,1.0,12018.0,1200500.0,QUINTA-FEIRA,TARDE,...,1.0,12018.0,NORTE,AC,1200500.0,SENA MADUREIRA,nao,43139.0,8100.0,6334.0

In [10]:
print(df_final.dtypes[:20])

num_acidente          float64
chv_localidade         object
data_acidente          object
uf_acidente            object
ano_acidente          float64
mes_acidente          float64
mes_ano_acidente      float64
codigo_ibge_x         float64
dia_semana             object
fase_dia               object
tp_acidente            object
cond_meteorologica     object
end_acidente           object
num_end_acidente      float64
cep_acidente          float64
bairro_acidente        object
km_via_acidente       float64
latitude_acidente     float64
longitude_acidente    float64
hora_acidente         float64
dtype: object

In [11]:
print(df_final.dtypes[20:40])

tp_rodovia               object
cond_pista               object
tp_cruzamento            object
tp_pavimento             object
tp_curva                 object
lim_velocidade           object
tp_pista                 object
ind_guardrail            object
ind_cantcentral          object
ind_acostamento          object
qtde_acidente           float64
qtde_acid_com_obitos    float64
qtde_envolvidos         float64
qtde_feridosilesos      float64
qtde_obitos             float64
ano_referencia          float64
mes_referencia          float64
mes_ano_referencia      float64
regiao                   object
uf                       object
dtype: object

In [12]:
print(df_final.dtypes[40:60])

codigo_ibge_y           float64
municipio                object
regiao_metropolitana     object
qtde_habitantes         float64
frota_total             float64
frota_circulante        float64
dtype: object

In [13]:
categorical_columns = [
    "chv_localidade",
    "data_acidente",
    "uf_acidente",
    "dia_semana",
    "fase_dia",
    "tp_acidente",
    "cond_meteorologica",
    "end_acidente",
    "bairro_acidente",
    "tp_rodovia",
    "cond_pista",
    "tp_cruzamento",
    "tp_pavimento",
    "tp_curva",
    "lim_velocidade",
    "tp_pista",
    "ind_guardrail",
    "ind_cantcentral",
    "ind_acostamento",
    "regiao",
    "uf",
    "municipio",
    "regiao_metropolitana"

]

numerical_columns = [  
    'latitude_acidente',
    'longitude_acidente',
    'num_acidente',
    'ano_acidente',
    'mes_acidente',
    'mes_ano_acidente',
    'codigo_ibge_x',
    'num_end_acidente',
    'cep_acidente',
    'km_via_acidente',
    'hora_acidente',
    'qtde_acidente',            
    'qtde_acid_com_obitos',     
    'qtde_envolvidos',          
    'qtde_feridosilesos',       
    'qtde_obitos',              
    'ano_referencia',           
    'mes_referencia',           
    'mes_ano_referencia',   
    'codigo_ibge_y',            
    'qtde_habitantes',          
    'frota_total',              
    'frota_circulante'

]

'''ordinal_columns = [
    'num_acidente',
    'ano_acidente',
    'mes_acidente',
    'mes_ano_acidente',
    'codigo_ibge_x',
    'num_end_acidente',
    'cep_acidente',
    'km_via_acidente',
    'hora_acidente',
    'qtde_acidente',            
    'qtde_acid_com_obitos',     
    'qtde_envolvidos',          
    'qtde_feridosilesos',       
    'qtde_obitos',              
    'ano_referencia',           
    'mes_referencia',           
    'mes_ano_referencia',   
    'codigo_ibge_y',            
    'qtde_habitantes',          
    'frota_total',              
    'frota_circulante'
                 
]'''

for column_group, column_type in (
    (categorical_columns, 'category'),
    (numerical_columns, 'float64'),
    #(ordinal_columns, 'int64'),
):
    for column in column_group:
        df_final[column] = df_final[column].astype(column_type)


# Split features and target, and return.
X = df_final.drop(columns=['num_acidente']).copy()
y = df_final['num_acidente'].copy()

## Visualização dos dados

## Separação treino-teste e modelagem inicial

In [22]:
import numpy as np

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.dummy import DummyRegressor

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    random_state=42,
)

In [23]:
categorical_features = X.select_dtypes(include=['category']).columns #variáveis categóricas
numerical_features = X.select_dtypes(include=['float64', 'int64']).columns #variáveis numéricas

num_pipeline = Pipeline([
    ('scaler', StandardScaler()), 
    ('imputer', SimpleImputer(strategy='mean')),
])

cat_pipeline = Pipeline([
    ('encoder', OneHotEncoder(drop='first')),
])

preprocessing_pipeline = ColumnTransformer(
    transformers=[
        ('num', num_pipeline, numerical_features),
        ('cat', cat_pipeline, categorical_features),
    ],
    remainder='passthrough',
)

pipe = Pipeline([
    ('preprocessor', preprocessing_pipeline),
    ('regressor', DummyRegressor(strategy='mean')),
])

In [24]:
from sklearn.model_selection import GridSearchCV, ShuffleSplit
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso


# Quanto maior o numero de splits, maior a significância estatística da
# validação cruzada, mas também maior o tempo de execução.
num_splits = 100

param_grid = [
    {
        'regressor': [Lasso()],
        'regressor__alpha': [0.01, 0.1, 1, 10, 100, 500, 1000],
    },
]

test_fraction = 0.2
num_samples_total = len(y_train)
num_samples_test = int(test_fraction * num_samples_total)
num_samples_train = num_samples_total - num_samples_test

grid = GridSearchCV( #para encontrar os melhores parâmetros usando validação cruzada
    pipe,
    param_grid,
    cv=ShuffleSplit(
        n_splits=num_splits,
        test_size=num_samples_test,
        random_state=42,
    ),
    n_jobs=-1,
    scoring='neg_root_mean_squared_error',
)
grid.fit(X_train, y_train)