In [12]:
import dask.dataframe as dd # import pandas as pd
import dask.array as da # import numpy as np

In [13]:
acidentes = dd.read_csv('Acidentes_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';') # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]
localidade = dd.read_csv('Localidade_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';') # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]
veiculo = dd.read_csv('TipoVeiculo_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';') # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]
vitimas = dd.read_csv('Vitimas_DadosAbertos_20230812.csv', blocksize=25e6, delimiter=';') # 25MB chunks  [manter suas partições com tamanho inferior a 100 MB]

In [14]:
#merge dos dfs 
result = dd.merge(acidentes, localidade, on='chv_localidade', how='inner')
# result = dd.merge(result, veiculo, on='chv_localidade', how='inner')
# result = dd.merge(result, vitimas, on='chv_localidade', how='inner')
df_final = result.compute()

c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)
c:\Users\anapa\AppData\Local\Programs\Python\Python311\Lib\site-packages\dask\dataframe\io\csv.py:195: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = reader(bio, **kwargs)

In [30]:
df_final.head(10)

,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge_x,dia_semana,fase_dia,...,mes_referencia,mes_ano_referencia,regiao,uf,codigo_ibge_y,municipio,regiao_metropolitana,qtde_habitantes,frota_total,frota_circulante
0,352227,AC1200500201801,2018-01-16,AC,2018,1,12018,1200500,TERCA-FEIRA,MANHA,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
1,28057,AC1200500201801,2018-01-06,AC,2018,1,12018,1200500,SABADO,NOITE,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
2,1178931,AC1200500201801,2018-01-24,AC,2018,1,12018,1200500,QUARTA-FEIRA,MADRUGADA,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
3,352225,AC1200500201801,2018-01-14,AC,2018,1,12018,1200500,DOMINGO,MANHA,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
4,3515769,AC1200500201801,2018-01-04,AC,2018,1,12018,1200500,QUINTA-FEIRA,TARDE,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
5,2860402,AC1200500201801,2018-01-06,AC,2018,1,12018,1200500,SABADO,MANHA,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
6,2091362,AC1200500201801,2018-01-20,AC,2018,1,12018,1200500,SABADO,NOITE,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
7,4524241,AC1200500201801,2018-01-08,AC,2018,1,12018,1200500,SEGUNDA-FEIRA,NOITE,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
8,667583,AC1200500201801,2018-01-13,AC,2018,1,12018,1200500,SABADO,NOITE,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334
9,3254053,AC1200500201801,2018-01-14,AC,2018,1,12018,1200500,DOMINGO,NOITE,...,1,12018,NORTE,AC,1200500,SENA MADUREIRA,nao,43139,8100,6334

In [19]:
# Verificando a quantidade de valores faltantes por coluna
df_final.isnull().sum()

num_acidente                  0
chv_localidade                0
data_acidente                 0
uf_acidente                   0
ano_acidente                  0
mes_acidente                  0
mes_ano_acidente              0
codigo_ibge_x                 0
dia_semana                    0
fase_dia                      0
tp_acidente                   0
cond_meteorologica            0
end_acidente             156468
num_end_acidente              0
cep_acidente                  0
bairro_acidente         1926771
km_via_acidente               0
latitude_acidente       3624634
longitude_acidente      3624764
hora_acidente                 0
tp_rodovia                    0
cond_pista                    0
tp_cruzamento                 0
tp_pavimento                  0
tp_curva                      0
lim_velocidade                0
tp_pista                      0
ind_guardrail                 0
ind_cantcentral               0
ind_acostamento               0
qtde_acidente                 0
qtde_acid_com_obitos          0
qtde_envolvidos               0
qtde_feridosilesos            0
qtde_obitos                   0
ano_referencia                0
mes_referencia                0
mes_ano_referencia            0
regiao                        0
uf                            0
codigo_ibge_y                 0
municipio                     0
regiao_metropolitana          0
qtde_habitantes               0
frota_total                   0
frota_circulante              0
dtype: int64

In [27]:
# Filtrando apenas colunas numéricas
numeric_cols = df_final.select_dtypes(include=['float64', 'int64'])
# Calculando correlação
corr_matrix = numeric_cols.corr() 
corr_matrix

,num_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge_x,num_end_acidente,cep_acidente,km_via_acidente,latitude_acidente,longitude_acidente,...,qtde_envolvidos,qtde_feridosilesos,qtde_obitos,ano_referencia,mes_referencia,mes_ano_referencia,codigo_ibge_y,qtde_habitantes,frota_total,frota_circulante
num_acidente,1.000000,0.001407,0.000472,0.000472,-0.000231,-0.000682,0.000312,0.000103,0.001483,0.000946,...,-0.000179,-0.000142,-0.000205,0.001407,0.000472,0.000472,-0.000231,-0.001220,-0.001018,-0.001054
ano_acidente,0.001407,1.000000,-0.105858,-0.105816,0.096092,0.093457,0.076875,0.023822,0.051282,0.037552,...,0.002572,0.007082,-0.025596,1.000000,-0.105858,-0.105816,0.096092,0.041655,0.076072,0.102727
mes_acidente,0.000472,-0.105858,1.000000,1.000000,0.010562,-0.010466,-0.000877,-0.010260,-0.006942,-0.005355,...,-0.025195,-0.025167,0.000666,-0.105858,1.000000,1.000000,0.010562,0.000261,0.004920,0.004821
mes_ano_acidente,0.000472,-0.105816,1.000000,1.000000,0.010566,-0.010462,-0.000874,-0.010259,-0.006941,-0.005354,...,-0.025195,-0.025167,0.000665,-0.105816,1.000000,1.000000,0.010566,0.000262,0.004923,0.004826
codigo_ibge_x,-0.000231,0.096092,0.010562,0.010566,1.000000,0.206205,-0.025245,-0.029688,0.111933,0.081969,...,0.025746,0.036113,-0.059484,0.096092,0.010562,0.010566,1.000000,0.019585,0.046882,0.065481
num_end_acidente,-0.000682,0.093457,-0.010466,-0.010462,0.206205,1.000000,-0.009300,0.000236,0.013642,0.009990,...,0.022383,0.025639,-0.019146,0.093457,-0.010466,-0.010462,0.206205,0.124352,0.115951,0.160849
cep_acidente,0.000312,0.076875,-0.000877,-0.000874,-0.025245,-0.009300,1.000000,-0.004265,0.013824,0.010124,...,0.016249,0.016842,-0.003884,0.076875,-0.000877,-0.000874,-0.025245,-0.000625,-0.016862,-0.006989
km_via_acidente,0.000103,0.023822,-0.010260,-0.010259,-0.029688,0.000236,-0.004265,1.000000,0.005484,0.004016,...,0.006720,0.003994,0.015198,0.023822,-0.010260,-0.010259,-0.029688,-0.008576,-0.007305,-0.005167
latitude_acidente,0.001483,0.051282,-0.006942,-0.006941,0.111933,0.013642,0.013824,0.005484,1.000000,0.741976,...,-0.013577,-0.011184,-0.013239,0.051282,-0.006942,-0.006941,0.111933,0.028405,0.028420,0.031399
longitude_acidente,0.000946,0.037552,-0.005355,-0.005354,0.081969,0.009990,0.010124,0.004016,0.741976,1.000000,...,-0.008974,-0.007371,-0.008870,0.037552,-0.005355,-0.005354,0.081969,0.018306,0.018938,0.020788
hora_acidente,-0.000453,-0.018756,0.002305,0.002304,-0.061168,-0.013796,-0.017907,-0.007156,-0.076420,-0.046310,...,0.006824,-0.001767,0.048377,-0.018756,0.002305,0.002304,-0.061168,-0.034108,-0.031273,-0.034126
qtde_acidente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
qtde_acid_com_obitos,-0.000469,-0.026814,-0.000198,-0.000199,-0.066109,-0.020274,-0.003870,0.014724,-0.007671,-0.005218,...,0.025567,-0.139790,0.934548,-0.026814,-0.000198,-0.000199,-0.066109,-0.019326,-0.023341,-0.030648
qtde_envolvidos,-0.000179,0.002572,-0.025195,-0.025195,0.025746,0.022383,0.016249,0.006720,-0.013577,-0.008974,...,1.000000,0.984300,0.056094,0.002572,-0.025195,-0.025195,0.025746,-0.064778,-0.059887,-0.050187
qtde_feridosilesos,-0.000142,0.007082,-0.025167,-0.025167,0.036113,0.025639,0.016842,0.003994,-0.011184,-0.007371,...,0.984300,1.000000,-0.121010,0.007082,-0.025167,-0.025167,0.036113,-0.060763,-0.055302,-0.044443
qtde_obitos,-0.000205,-0.025596,0.000666,0.000665,-0.059484,-0.019146,-0.003884,0.015198,-0.013239,-0.008870,...,0.056094,-0.121010,1.000000,-0.025596,0.000666,0.000665,-0.059484,-0.020591,-0.023982,-0.030852
ano_referencia,0.001407,1.000000,-0.105858,-0.105816,0.096092,0.093457,0.076875,0.023822,0.051282,0.037552,...,0.002572,0.007082,-0.025596,1.000000,-0.105858,-0.105816,0.096092,0.041655,0.076072,0.102727
mes_referencia,0.000472,-0.105858,1.000000,1.000000,0.010562,-0.010466,-0.000877,-0.010260,-0.006942,-0.005355,...,-0.025195,-0.025167,0.000666,-0.105858,1.000000,1.000000,0.010562,0.000261,0.004920,0.004821
mes_ano_referencia,0.000472,-0.105816,1.000000,1.000000,0.010566,-0.010462,-0.000874,-0.010259,-0.006941,-0.005354,...,-0.025195,-0.025167,0.000665,-0.105816,1.000000,1.000000,0.010566,0.000262,0.004923,0.004826
codigo_ibge_y,-0.000231,0.096092,0.010562,0.010566,1.000000,0.206205,-0.025245,-0.029688,0.111933,0.081969,...,0.025746,0.036113,-0.059484,0.096092,0.010562,0.010566,1.000000,0.019585,0.046882,0.065481
qtde_habitantes,-0.001220,0.041655,0.000261,0.000262,0.019585,0.124352,-0.000625,-0.008576,0.028405,0.018306,...,-0.064778,-0.060763,-0.020591,0.041655,0.000261,0.000262,0.019585,1.000000,0.988726,0.979430
frota_total,-0.001018,0.076072,0.004920,0.004923,0.046882,0.115951,-0.016862,-0.007305,0.028420,0.018938,...,-0.059887,-0.055302,-0.023982,0.076072,0.004920,0.004923,0.046882,0.988726,1.000000,0.990352
frota_circulante,-0.001054,0.102727,0.004821,0.004826,0.065481,0.160849,-0.006989,-0.005167,0.031399,0.020788,...,-0.050187,-0.044443,-0.030852,0.102727,0.004821,0.004826,0.065481,0.979430,0.990352,1.000000

In [28]:
# Filtrando apenas as colunas com valor nulo
null_counts = df_final.isnull().sum()
print(null_counts[null_counts > 0])

end_acidente           156468
bairro_acidente       1926771
latitude_acidente     3624634
longitude_acidente    3624764
dtype: int64

In [40]:
df_final.dtypes

num_acidente              int64
chv_localidade           object
data_acidente            object
uf_acidente              object
ano_acidente              int64
mes_acidente              int64
mes_ano_acidente          int64
codigo_ibge_x             int64
dia_semana               object
fase_dia                 object
tp_acidente              object
cond_meteorologica       object
end_acidente             object
num_end_acidente          int64
cep_acidente              int64
bairro_acidente          object
km_via_acidente           int64
latitude_acidente       float64
longitude_acidente      float64
hora_acidente             int64
tp_rodovia               object
cond_pista               object
tp_cruzamento            object
tp_pavimento             object
tp_curva                 object
lim_velocidade           object
tp_pista                 object
ind_guardrail            object
ind_cantcentral          object
ind_acostamento          object
qtde_acidente             int64
qtde_acid_com_obitos      int64
qtde_envolvidos           int64
qtde_feridosilesos        int64
qtde_obitos               int64
ano_referencia            int64
mes_referencia            int64
mes_ano_referencia        int64
regiao                   object
uf                       object
codigo_ibge_y             int64
municipio                object
regiao_metropolitana     object
qtde_habitantes           int64
frota_total               int64
frota_circulante          int64
dtype: object

In [ ]:
categorical_columns = [

]

numerical_columns = [   

]

ordinal_columns = [

]

for column_group, column_type in (
    (categorical_columns, 'category'),
    (numerical_columns, 'float64'),
    (ordinal_columns, 'int64'),
):
    for column in column_group:
        df_final[column] = df_final[column].astype(column_type)


# Split features and target, and return.
X = df_final.drop(columns=['grade']).copy()
y = df_final['grade'].copy()